html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color:#FAFAFA;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  width: 500px;
  margin: 0 auto;
  margin-top: 2rem;
  max-width: 90%;
}

a {
  color: #09BC8A;
}

header {
  display: flex;
  justify-content: flex-end;
  font-size: 18px;
  background: #2D2D2A;
  padding: 1rem;
  padding-right: 2rem;
}


header > nav > a {
  color: white;
  text-decoration: none;
  margin-left: 25px;
}

.active-navlink {
  border-bottom: 1px solid white;
}

header > nav > button {
  color: white;
  border: 1px solid white;
  background-color: #2D2D2A;
  margin-left: 15px;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
}

header > nav > button:hover{
  background: white;
  color: #2D2D2A
}

.auth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.auth-card {
  padding: 30px;
  width: 400px;
  max-width: 90%;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  margin-top: 10%;
  /* border: 1px solid rgba(0,0,0,.2); */
  border: 1px solid #e6e6e6;
  background-color: #fff;
}

.auth form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.auth input, .auth button {
  font-size: 18px;
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid rgba(0,0,0,.4);
  /* outline: none; */
  /* outline: 1px solid #09BC8A; */
}



.auth-select {
	font-size: 18px;
	color: #444;
	padding: .6em 1.4em .5em .8em;
	width: 100%;
	max-width: 100%;
	box-sizing: border-box;
  margin: 0;
  margin-bottom: 20px;
  border: 1px solid #aaa;
  border: 1px solid rgba(0,0,0,.4);
	border-radius: 4px;
	appearance: none;
	background-color: #fff;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
	  linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
	background-repeat: no-repeat, repeat;
	background-position: right .7em top 50%, 0 0;
	background-size: .65em auto, 100%;
}

.auth input:focus, .auth-select:focus{
  outline: none !important;
  border-color: #09BC8A;
}

.auth button {
  border: 1px solid #09BC8A;
  background-color: #09BC8A;
  color: white;
  font-weight: bold;
  cursor:pointer;
}

.auth h1 {
  color: #2D2D2A;
  margin: 0;
  margin-bottom: 20px;
  text-align: center;
}

.auth-text{
  text-align: center;
}

.auth-text a {
  color: #09BC8A;
}

.not-authed-text {
  font-size: 18px;
  background: #EDBFC6;
  text-align: center;
  padding: 15px;
  color: #1f2d3d;
  border: 1px solid #e6e6e6;
  border-radius:4px;
}

.not-authed-text a {
  color: #1f2d3d;
  opacity: .5;
  font-weight: bold;
}

.auth-error {
  font-size: 18px;
  background: #EDBFC6;
  text-align: center;
  padding: 15px;
  color: #1f2d3d;
  width: 400px;
  max-width: 90%;
  border: 1px solid #e6e6e6;
  border-radius:4px;
  margin-top: 30px;
}

.user-list {
  list-style-type: none;
  padding: 0;
}

.bold {
  font-weight: 700;
}

.user-list-item {
  font-size: 18px;
  margin-bottom: 10px;
}

